/* 
* Project Name: Personal Website
* Date: Started August 2019
* Author: Benjamin Carlson
* Version: 2.0
*/

/*************
* General Styles
*************/

* {
    padding: 0;
    margin: 0;
}

body {
    background: #516096;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

a:hover {
    opacity: .7;
    text-decoration: none;
}

a {
    color: darkkhaki;
}

.btn {
    background: #2e3141;
    border: 1px solid #2e3141;
}

.btn:hover {
    background: #fff;
    border: #2e3141 1px solid;
    color: #2e3141;
    transition: .35s ease;
}

/*************
* Navigation
*************/

#navbar {
    background-color: #fff !important;
    border-bottom: #2e3141 1px solid;
    z-index: 1;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 10px;
}

.nav-link {
    color: #2e3141 !important;
}

.nav-link-blank {
    color: #516096 !important;
}

.active {
    color: #2e3141 !important;
    text-decoration: underline !important;
}

/*************
* Landing Page
*************/

#landing-page {
    height: 100vh;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fa-arrow-down {
    color: #fff;
    font-size: 2em;
    animation: bottom_to_top;
    animation-duration: 1.5s;
    transform: translatey(90vh);
}

.bounce {
    animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
}

/* fix for phone screens that have the bottom tab blocking the arrow */

@media screen and (max-width: 800px) {
    .fa-arrow-down {
        transform: translatey(80vh);
    }
}

.fa-parent {
    text-align: center;
}

.title {
    color: #fff;
}

@media screen and (max-width: 800px) {
    .title-right {
        font-size: 40px;
    }
}

@media screen and (max-width: 425px) {
    .title-right {
        font-size: 60px;
    }
}

@media screen and (max-width: 321px) {
    .title-right {
        font-size: 35px;
    }
    .title-left {
        font-size: 20;
    }
}

.title-left {
    animation: left_to_right 1.5s;
}

.title-right {
    animation: right_to_left 1.5s;
}

/* Animations */

@keyframes right_to_left {
    from {
        margin-left: 100%;
        opacity: 0;
    }
    to {
        margin-left: 0;
    }
}

@keyframes left_to_right {
    from {
        margin-left: -100%;
        opacity: 0;
    }
    to {
        margin-left: 0;
    }
}

@keyframes bottom_to_top {
    from {
        margin-top: 100%;
        opacity: 0;
    }
    to {
        margin-top: 0;
    }
}

@keyframes fade_in {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    30% {
        opacity: .05;
    }
    40% {
        opacity: .1;
    }
    50% {
        opacity: .2;
    }
    60% {
        opacity: .4;
    }
    70% {
        opacity: .5;
    }
    80% {
        opacity: .7;
    }
    90% {
        opacity: .9;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
    }
}

@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
    }
}

@-o-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -o-transform: translateY(0);
    }
    40% {
        -o-transform: translateY(-30px);
    }
    60% {
        -o-transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.links {
    text-align: center;
    animation: fade_in 1.5s;
}

.links ul {
    display: inline-block;
}

.links ul li {
    list-style-type: none;
    float: left;
    padding: 30px 10px 0 5px;
    font-size: 30px;
}

/* grow for social icons */

.grow:hover, .grow:focus, .grow:active {
    transform: scale(1.5);
}

.grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

/* Social icon responsiveness */

@media screen and (max-width: 600px) {
    .links ul li {
        font-size: 20px;
    }
}

@media screen and (max-width: 520px) {
    .links ul li {
        font-size: 14px;
    }
}

@media screen and (max-width: 370px) {
    .links ul li {
        font-size: 12px;
    }
}

.fa {
    color: #fff;
}

/*************
* Freelance Section
*************/

#freelance {
    background-color: #fff;
}

.parent-freelance {
    display: grid;
    grid-template-columns: 50% repeat(2, 25%);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 40px 0;
}

.div1-freelance {
    grid-area: 1 / 1 / 2 / 2;
}

.div2-freelance {
    grid-area: 1 / 2 / 2 / 3;
}

.div3-freelance {
    grid-area: 1 / 3 / 2 / 4;
}

@media screen and (max-width: 769px) {
    .parent-freelance {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .div1-freelance {
        grid-area: 1 / 1 / 2 / 3;
    }
    .div2-freelance {
        grid-area: 2 / 1 / 3 / 2;
        padding-top: 20px;
    }
    .div3-freelance {
        grid-area: 2 / 2 / 3 / 3;
        padding-top: 20px;
    }
}

@media screen and (max-width: 426px) {
    .parent-freelance {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .div1-freelance {
        grid-area: 1 / 1 / 2 / 2;
    }
    .div2-freelance {
        grid-area: 2 / 1 / 3 / 2;
    }
    .div3-freelance {
        grid-area: 3 / 1 / 4 / 2;
    }
    .freelance-text {
        font-size: 21px;
    }
}

/*************
* Main Section
*************/

#main {
    background-color: #fff;
}

#main h1 {
    text-align: center;
    padding: 20px 0;
    color: #2e3141;
    text-transform: uppercase;
}

.parent {
    display: grid;
    grid-template-columns: 33% 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 30px 0;
}

.main-img {
    height: 200px;
    width: 300px;
    border-radius: 15px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.main-h2 {
    color: #516096;
    font-size: 1.4em;
}

.main-h3 {
    color: darkkhaki;
    font-size: 1.05em;
}

.main-h4 {
    color: #2e3141;
    font-size: .95em;
}

.main-p {
    color: #2e3141;
    font-size: .8em;
}

@media screen and (max-width: 1023px) {
    .parent {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 50%);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .div1 {
        grid-area: 1 / 1 / 2 / 2;
    }
    .div2 {
        grid-area: 2 / 1 / 3 / 2;
    }
    .main-img {
        display: inline-block;
    }
    .main-h2 {
        text-align: center;
        padding-top: 20px;
    }
}

@media screen and (max-width: 426px) {
    .main-h2 {
        padding-top: 10px;
    }
}

/*************
* Projects Section
*************/

#projects {
    background-color: #fff;
}

#projects h1 {
    text-align: center;
    text-transform: uppercase;
    padding: 60px 0 20px 0;
}

.projects-p-subtitle {
    text-align: center;
}

.modal-full {
    width: 95%;
}

.modal-full .modal-content {
    min-height: 95vh;
}

.project-h2 {
    color: #2e3141;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    transition: .5s ease;
}

.center-container {
    position: relative;
    text-align: center;
}

.center-projects {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 120%);
}

.parent-projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1-projects {
    grid-area: 1 / 1 / 3 / 2;
    background: url(../img/project1-min.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 500px;
    box-shadow: 0 3000px rgba(255, 255, 255, 0.4) inset;
}

.div2-projects {
    grid-area: 3 / 1 / 4 / 3;
    background: url(../img/project2-min.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: 0 3000px rgba(255, 255, 255, 0.4) inset;
}

.div3-projects {
    grid-area: 1 / 3 / 4 / 4;
    background: url(../img/project4-min.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: 0 3000px rgba(255, 255, 255, 0.4) inset;
}

.div4-projects {
    grid-area: 1 / 2 / 3 / 3;
    background: url(../img/project3-min.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: 0 3000px rgba(255, 255, 255, 0.4) inset;
}

.div1-projects:hover, .div2-projects:hover, .div3-projects:hover, .div4-projects:hover {
    box-shadow: none;
}

@media screen and (max-width: 3000px) {
    .center-word-counter {
        transform: translate(-50%, 300%);
    }
}

@media screen and (max-width: 769px) {
    .center-word-counter {
        transform: translate(-50%, 120%);
    }
}

@media screen and (max-width: 769px) {
    .parent-projects {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .div1-projects {
        grid-area: 1 / 1 / 2 / 2;
    }
    .div2-projects {
        grid-area: 1 / 2 / 2 / 3;
    }
    .div3-projects {
        grid-area: 2 / 1 / 3 / 2;
    }
    .div4-projects {
        grid-area: 2 / 2 / 3 / 3;
    }
}

@media screen and (max-width: 426px) {
    .parent-projects {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .div1-projects {
        grid-area: 1 / 1 / 2 / 2;
    }
    .div2-projects {
        grid-area: 2 / 1 / 3 / 2;
    }
    .div3-projects {
        grid-area: 3 / 1 / 4 / 2;
    }
    .div4-projects {
        grid-area: 4 / 1 / 5 / 2;
    }
}

.img-projects {
    height: 100%;
    width: 100%;
}

/*************
* About Section
*************/

#about {
    background-color: #fff;
}

#about h2 {
    text-transform: uppercase;
}

.parent-about {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1-about {
    grid-area: 1 / 1 / 2 / 2;
    padding: 5%;
}

.div2-about {
    grid-area: 1 / 2 / 2 / 3;
    padding: 5%;
}

@media screen and (max-width: 426px) {
    .parent-about {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .div1-about {
        grid-area: 1 / 1 / 2 / 2;
    }
    .div2-about {
        grid-area: 2 / 1 / 3 / 2;
    }
}

tr {
    border-bottom: 1px solid #2e3141;
}

.tr-last {
    border-bottom: none;
}

td, th {
    padding: 20px 30px 20px 0;
}

th {
    float: left;
    /* safari fix */
}

/*************
* Footer
*************/

footer {
    height: 100px;
    width: 100%;
    background-color: #2e3141;
    text-align: center;
}

footer p {
    padding-top: 40px;
    color: #fff;
}