/*
* General Styles
*/

* {
	margin: 0;
	padding: 0;
}

/*body {
		background-color: #2e3141;*/
		/* background-image: linear-gradient(to top, rgba(46, 49, 65, 0.5), rgba(46, 49, 65, 0.5)), url("../../images/bg.jpg"); */
		/*background-image: url("../../images/bg.jpg");
		background-size: auto, cover;
		background-attachment: fixed, fixed;
		background-position: center, center; 
}*/

/* @media screen and (min-width: 1024px) {
	body {
		background: rgb(81, 96, 150);
	}
} */

body {
	background: rgb(81, 96, 150);
}

html {
	scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, a {
	color: #a8a8a8;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	text-decoration: none;
}

a:hover {
	color: #2e3141;
	text-decoration: none;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.75em;
}

h4 {
	font-size: 1.5em;
}

h5 {
	font-size: 1.25em;
}

h6 {
	font-size: 1em;
}

p {
	font-size: 1em;
}

hr {
	color: #fff;
	border: 1px #fff solid;
	width: 50%;
	margin-left: 25%;
}

.projects-hr {
	color: #2e3141;
	border: #2e3141 1px solid;
}

.image {
	width: 100%;
	height: 100%;
}

.image2 {
	width: 100%;
	height: 100%;
	border-radius: 20%;
}

.image-container {
	height: 200px;
	width: 200px;
	float: right;
	padding: 5px;
}

.image-container2 {
	height: 200px;
	width: 200px;
	float: left;
	padding: 5px;
}

.btn1 {
	background: #2e3141;
	border: 1px solid #2e3141;
}

.btn1:hover {
	background: #fff;
	border: #2e3141 1px solid;
	color: #2e3141;
}

.btn2 {
	background: #fff;
	border: 1px solid #fff;
	color: #2e3141;
	float: left;
}

.btn2:hover {
	background: #2e3141;
	color: #fff;
	border: #fff solid 1px;
}

/*
* Button to Top
*/
/* .float{
	position:fixed;
	width:60px;
	height:35px;
	bottom:40px;
	right:40px;
	background-color:#2e3141;
	color:#fff;
	text-align:center;
    z-index: 1;
	border: 1px solid #2e3141;
} */

/*
* Landing Page
*/
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fa-arrow-down {
	color: #fff;
	font-size: 2em;
	border: #fff solid 1px;
	padding: 1%;
	border-radius: 50%;
	margin-left: 50%;
	position: absolute;
	bottom: 0;
	margin-bottom: 2%;
}

.title {
	color: #fff;
}

/*
* Section Experience
*/
#experience {
	background-color: #2e3141;
	margin-top: 100vh;
	padding-bottom: 5%;
}

.experience-h2 {
	text-align: center;
	padding-top: 5%;
	color: #fff;
}

.date {
	float: right;
	font-style: italic;
}

.col-xs {
	margin-bottom: 10%;
}

.experience-h4, .experience-h5, .experience-p {
	color: #fff;
}

/*
* Section Projects
*/
#projects {
	padding-bottom: 5%;
	background-color: #fff;
}

.projects-h2 {
	text-align: center;
	padding-top: 10%;
	color: #2e3141;
}

.projects-h4, .projects-h5, .projects-p {
	color: #2e3141;
}

/*
* Footer
*/
.p-footer {
	text-align: center;
	padding-top: 2%;
	color: #fff;
}

.footer-href {
	color: #fff;
}


